sudo: required
dist: trusty

language: node_js
node_js:
    - '12'

cache:
    directories:
        - node_modules

install:
    - yarn install --frozen-lockfile --non-interactive

script:
    - yarn lint
    - yarn test:ci
    - yarn build:app
    - yarn build:lib

after_success:
    - test $TRAVIS_BRANCH = "master" && yarn coverage

deploy:
    name: Deploy
    local_dir: ./dist/integration
    provider: pages
    skip_cleanup: true
    api_key: $GITHUB_TOKEN
    keep_history: true
    secure: $GITHUB_TOKEN
    email: omaxphp@yandex.ru
    on:
        tags: true
        branch: master
