<a
    href="http://stackblitz.com/github/ngxs-labs/data?file=integration%2Fapp%2Fexamples%2Ftodo%2Ftodo.state.ts"
    target="_blank"
>
    <img
        class="stackblitz"
        src="https://habrastorage.org/webt/ma/me/jm/mamejmzzxqu5pfn6rfieay6oisi.png"
        alt="stackblitz"
    />
</a>

<h3>TodoState</h3>

PS: TodoState will be persistence in localStorage (ttl: 30sec)

<div class="add-todo">
    <input placeholder="New Todo" #text />
    <button (click)="todo.addTodo(text.value)">Add</button>
    <button (click)="todo.reset()">Reset</button>
</div>
<ul>
    <li class="todo" *ngFor="let todoItem of todo.state$ | async; let i = index">
        {{ todoItem }} <button (click)="todo.removeTodo(i)">🗑</button>
    </li>
</ul>
