<div class="button-actions">
    <button mat-stroked-button (click)="createArticle()">Add article</button>
    <button mat-stroked-button (click)="articleEntities.removeAll()">Remove all articles</button>
</div>

<table
    mat-table
    matSort
    matSortDisableClear
    (matSortChange)="sortData($event)"
    [dataSource]="(articleEntities.state$ | async)?.ids || []"
>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>UID</th>
        <td mat-cell *matCellDef="let id">{{ articleEntities.entities![id]?.uid }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let id">{{ articleEntities.entities![id]?.title }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let id">{{ articleEntities.entities![id]?.category }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 70px"></th>
        <td mat-cell *matCellDef="let id">
            <button mat-icon-button (click)="editById(id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="deleteById(id)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id', 'title', 'category', 'edit']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'category', 'edit']"></tr>
</table>
