<a href="#" target="_blank"><img class="stackblitz" src="./assets/img/stackblitz.png" alt="stackblitz"/></a>

<h3>TodoState</h3>

PS: TodoState will be persistence in localStorage

<div class="add-todo">
    <input placeholder="New Todo" #text />
    <button (click)="todo.addTodo(text.value)">Add</button>
    <button (click)="todo.reset()">Reset</button>
</div>
<ul>
    <li class="todo" *ngFor="let todoItem of todo.state$ | async; let i = index">
        {{ todoItem }} <button (click)="todo.removeTodo(i)">🗑</button>
    </li>
</ul>
