html {
    height: 100%;
    display: flex;
    background: #f5f5f5;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 650px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-weight: 300;
}

body {
    width: 100%;
    margin: auto;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background: none;
}

.add-todo {
    position: relative;
    padding: 1em;
    display: flex;

    input {
        display: inline-flex;
        width: 100%;
        margin-right: 5px;
    }
}

.container {
    display: flex;
    background: #fff;
    font-size: 20px;
    margin: auto;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.content {
    padding: 0.5em 1em;
    min-width: 330px;
}

.todo {
    display: block;
    position: relative;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    border-top: solid 1px #ddd;
}

.menu a {
    margin-right: 5px;
}

.menu {
    margin-bottom: 15px;
}
